.head_prod {
    padding-top: 100px;
    padding-bottom: 15px;
    background-color: #BE8B09;
    text-align: center;
}

.imagen img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    background-color: #1e6ba2;
    width: 100%;
    padding: 15px;
  }
}

.productos {
  padding: 10px;
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.589);
}

.productos p {
    text-align: center;
}