
<div class="barra-navegacion">
  <nav>
    
    <div class="navegacion-principal">
      <ul>
        <li class="item">
          <a href="/home">Inicio</a>
        </li>
        <li class="item">
          <a routerLink="/productos">Productos</a>
        </li>
        <li class="item">
          <a href="/ubicacion">Nosotros</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="redireccion">
    <p>
      <a href="https://www.facebook.com/people/Materiales-Hern%C3%A1ndez-El-Pipila-/100051073366061/">
        <img class="facebook" src="https://res.cloudinary.com/duhko7lyl/image/upload/v1653692740/Recursos_%22El%20Pipila%22/facebook_ypaagz.png" alt="Facebook" title="El Pipila">
      </a>
    </p>
    
  </div>
</div>
<!--Todo lo anterior se superpone, por lo que es recomendable que lo que se desee mostrar tenga
un padding del tamaño de la altura-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
