
.navegacion-principal {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    background-color: #ffff;
}

/*.navegacion-principal:hover {
  background-color: #ffff;
}*/


.navegacion-principal ul{
    text-decoration: none;
    display: flex;
    
}

.item {
    list-style: none;
    padding-left: 10px;
    
}

.item a {
    /*diseño del texto*/
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 10px;
    text-decoration: none;
    color: #1E6BA2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: .5s;
    z-index: 1;
}

.item a:before {
    /*diseño de las barras de arriba y abajo que aparecen cuando el cursor esta por ensima de las letras*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #68757B;
    border-bottom: 2px solid #68757B;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
  }
  .item a:after {
    /*diseño de cuadro que sale cuando se coloca el cursor por ensima de la letras*/
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #68757B;
    transform: scale(1);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }
  .item a:hover { 
    /*diseño de las letras cuando esta el cursor por ensima de este*/
    color: #fff;
  }
  .item a:hover:before { 
    /*movimiento de las barrad que aparecen cuando se pasa el cursor*/
    transform: scaleY(1);
    opacity: 1;
  }
  .item a:hover:after {
    /*transicion del cuadro que aparece por detras de las letras*/
    transform: scaleY(1);
    opacity: 1;
  }

.redireccion {
  width: 100%;
  text-align: right;
  height: 85px;
}

  .facebook {
    width: 3rem;
    transform: translate(-50%, 30%);
  }
