*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  list-style-type: none;
}

.derechos {
  width: 100%;
  text-align: center;
  background-color: #be8b09;
  padding: 5px;
}

.derechos p {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.seccion ul {
  text-decoration: none;
  display: flex;
}

.seccion li {
  list-style: none;
  padding-left: 10px;
}

.seccion a {
  text-transform: uppercase;
  margin: 10px 0;
  padding: 5px 10px;
  text-decoration: none;
  color: #1E6BA2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  z-index: 1;
}

.bloque-seccion {
  max-width: 51%;
  margin-bottom: 20px;
}

.subtitulo {
  font-size: 25px;
}

.nombre {
  font-size: 25px;
  text-align: center;
}

.pie {
  padding-top: 30px;
  color: #1E6BA2;
  margin: auto;
  width: 70%;
}