* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fondo{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("https://res.cloudinary.com/duhko7lyl/image/upload/v1653493732/Recursos_%22El%20Pipila%22/ferreteria_sui2gw.png");
    height: 100vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.texto {
    max-width: 100%;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    height: 160px;
    line-height: 40px;
    color: white;
    font-weight: bold;
}



.iconos {
    height: 1.5rem;
}
